<main class="container">

<h2>Descubre quién quiere conectar contigo</h2>

  <section class="inbox">
  {{#each senders as |sender|}}
      <article class="item-card match-card user-image img-big">
          <a href="/user/{{../user.name}}/messages/{{sender.name}}">
          <img class="item-card__img user-image" src="{{sender.image}}" alt="{{sender.name}}">
          <div class="item-card__content">
              <h5 class="item-card__title">{{sender.name}}</h5>
          </div>
          </a>
      </article>
  {{/each}}
  </section>

</main>