<main class="chat">
    <header class="text-center">
      <a href="/user/{{sender.name}}">
        <img class="user-image img-medium" src="{{sender.image}}" alt="{{sender.name}}">
      </a>
      <p>{{sender.name}}</p>
    </header>
  
  <section class="chat__container container">

  {{#each message as |ms|}}
    {{#isMyMessage ms ../user}}
    <article class="chat__bubble to-right text-right">
      <div class="text-left">
        <small id="time">{{datetime ms.createdAt}}</small>
      </div>
      <p class="mb-1">{{ms.body}}</p>
      <small>Tú</small>
    </article>
    {{/isMyMessage}}

  {{#noMyMessage ms ../user}}
    <article class="chat__bubble to-left text-left">
      <div class="text-right">
        <small id="time">{{datetime ms.createdAt}}</small>
      </div>
      <p class="mb-1">{{ms.body}}</p>
      <small>de {{ms.from}}</small>
    </article>
  {{/noMyMessage}}

  {{/each}}
  </section> 

  <section>
      <form method="POST" class="chat__send container" action="/user/{{sender.name}}/messages">
        <div class="chat__send-input"><input class="form-control" type="text" name="message" placeholder="Escribe algo..."></div>
        <div><button type="submit" class="btn bg-spotify font-weight-bold color-light">Enviar</button></div>
    </form>
  </section>


</main>

