<main class="">
    <header class="text-center">
      Aquí la imagen de la persona con la que te estás escribiendo, y su nombre.
      <img src="{{sender.image}}" alt="">
      <p>{{sender.name}}</p>
    </header>

  <div class="list-group container">

  {{#each message as |ms|}}
    <article class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Mensaje</h5>
        <small id="time">{{datetime ms.createdAt}}</small>

      </div>

      <p class="mb-1">{{ms.body}}</p>
      <small>{{ms.to}}</small>
    </article>
  {{/each}}

  </div> 
</main>

