<h1>HOLA {{user.name}}</h1>

<img src="{{user.image}}" width="200" alt="">
 
<ul>
    {{#each user.followingArtists as |artist|}}
    <li>{{artist}}</li>
    {{/each}}
</ul>

<ul>
    {{#each user.topTracks as |track|}}
    <li>{{track}}</li>
    {{/each}}
</ul>

<ul>
    {{#each user.playlists as |play|}}
    <li>{{play}}</li>
    {{/each}}
</ul> 