<h1>Hola {{user.name}}</h1>

<img src="{{user.image}}" width="200" alt="">

<h2>MAtches :D</h2>

{{#each matches.byArtist as |crush|}}
<a href="user/{{crush.name}}">
    <p>{{ crush.email }}</p>
</a>
{{/each}}

{{#each matches.byTracks as |crush|}}
    <p>{{ crush.email }}</p>
{{/each}}

{{> message }}

<header>
    <h2>User's top tracks</h2>
    <span class="separator"></span>
</header>
<section class="d-flex flex-wrap">
    {{#each user.topTracks as |track|}}
    <article class="item-card">
        <a href="{{track.url}}" target="_blank">
        <img class="item-card__img" src="{{track.imgUrl}}" alt="{{track.name}}">
        <div class="item-card__content">
            <h5 class="item-card__title">{{track.name}}</h5>
            <p class="item-card__text">{{track.artist}}</p>
        </div>
        </a>
    </article>
    {{/each}}
</section>

<header>
    <h2>Most listened playlists</h2>
    <span class="separator"></span>
</header>
<section class="d-flex flex-wrap">
    {{#each user.playlists as |play|}}
    <article class="item-card">
        <a href="{{play.url}}" target="_blank">
        <img class="item-card__img" src="{{play.imgUrl}}" alt="{{play.name}}">
        <div class="item-card__content">
            <h5 class="item-card__title">{{play.name}}</h5>
        </div>
        </a>
    </article>
    {{/each}}
</section>

<header>
    <h2>Following artists</h2>
    <span class="separator"></span>
</header>
<section class="d-flex flex-wrap">
    {{#each user.followingArtists as |artist|}}
    <article class="item-card">
        <a href="{{artist.url}}" target="_blank">
        <img class="item-card__img" src="{{artist.imgUrl}}" alt="{{artist.name}}">
        <div class="item-card__content">
            <h5 class="item-card__title">{{artist.name}}</h5>
        </div>
        </a>
    </article>
    {{/each}}
</section>